.endingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  text-align: center;
}

.cardBorder {
  border: 8px solid white;
  border-radius: 8px;
  margin: 1rem auto;
  height: 97vh;
  width: 95vw;
}

.endingText {
  text-align: center;
  color: white;
  font-size: 4vw; /* Smaller font size for the ending */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  font-family: "Charm", serif;
  max-width: 90vw; /* Constrict text to half the viewport width */
  margin: 4rem auto; /* Center the text with some margin */
  padding: 20px; /* Add some padding */
}

@media screen and (max-width: 600px) {
  .endingText {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
    margin: 0;
  }
}

.continueButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
