.introScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  text-align: center;
}

.cardBorder {
  border: 8px solid white;
  border-radius: 8px;
  margin: 1rem auto;
  height: 97vh;
  width: 95vw;
}

.titleText {
  text-align: center;
  color: white;
  font-size: 6vw; /* Bigger font size for the title */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  font-family: "Charm", serif;
  max-width: 90vw; /* Constrict text to half the viewport width */
  margin: 4rem auto; /* Center the text with some margin */
  padding: 20px 0; /* Add some padding */
}

@media screen and (max-width: 600px) {
  .titleText {
    font-size: 2rem; /* Decrease font size for smaller screens */
    margin: 0;
  }
}

.introductionText {
  text-align: center;
  color: white;
  font-size: 2em; /* Bigger font size */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  font-family: "Charm", serif;
  max-width: 90vw; /* Constrict text to half the viewport width */
  margin: 0 1rem; /* Center the text */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 4rem 0 6rem 0; /* Add some padding */
}

@media screen and (max-width: 600px) {
  .introductionText {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
    padding: 2rem 0;
  }
}
