.transitionScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.transitionText {
  color: white;
  font-size: 3vw; /* Responsive font size */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  pointer-events: none;
  font-family: "Charm", serif;
  max-width: 50vw; /* Constrict text to half the viewport width */
  margin: 0 auto; /* Center the text */
}

.navigationArrowLeft,
.navigationArrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.navigationArrowLeft {
  left: 10px;
}

.navigationArrowRight {
  right: 10px;
}

@media screen and (max-width: 600px) {
  .transitionText {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }
}
